.batch-select {
  position: relative;
  :global {
    .btn-no-padding {
      .ant-btn {
        padding: 0;
      }
    }
  }
}

.options {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}
